/* Text font - Lato */
/* Header font - Staatliches */
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');

/* possible core color schemes */
/*
#fafaf6
#00fff0
#00d1ff
#3d6cb9
buttons????
#1778F2
#3897f0
*/

:root {
    --primary-color: #3897f0;
    --secondary-color: #f99500;
    --light-color: #f3f3f3;
    --dark-color: #333;
    --social-buttons: #3d6cb9;
    --dcf255-color: red;
    --security-color: #f99500;
    --op-color: #a66bbe;
    --tech-color: #009cff;
    --defLink-color: #0000ee;
    --max-width: 1100px;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Core Styling */
body {
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
    /* background: var(--light-color); */
    background: white;
}

a {
    color: var(--dark-color);
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin: 0.5rem;
}

img {
    width: 100%;
}

/* headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Staatliches', sans-serif;
    margin-bottom: 0.55rem;
    line-height: 1.3;
}

/* Utilities */
.container {
    max-width: var(--max-width);
    margin: auto;
    padding: 0 2rem;
    /* overflow: hidden; */
}

/* Categories */
.category {
    display: inline-block;
    color: #fff;
    font-size: 0.55rem;
    text-transform: uppercase;
    padding: 0.4rem 0.6rem;
    border-radius: 15px;
    margin-bottom: 0.5rem;
}

.category-school {
    background: var(--dcf255-color);
}

.category-security {
    background: var(--security-color);
}
.category-op {
    background: var(--op-color);
}
.category-tech {
    background: var(--tech-color);
}

/* For categories link list card in article files  */
#categories.card:hover {
    background: #fff;
    color: black;
}

.sticky-container {
    height: 1150%;
}

.sticky-card {
    position: sticky;
    top: 25%;
}

/* button */
.btn {
    display: inline-block;
    border: none;
    background-color: var(--dark-color);
    color: #fff;
    padding: 0.5rem 1.5rem;
}

.btn-light {
    background: var(--light-color);
}
.btn-primary {
    background: var(--primary-color);
}
.btn-secondary {
    background: var(--secondary-color);
}

.btn-block {
    display: block;
    width: 100%;
    text-align: center;
}

.btn:hover {
    opacity: 0.9;
}

/* Cards */

.card {
    background: #fff;
    padding: 1rem;
}

aside.card:hover {
    background: var(--secondary-color);
    color: #fff;
}

/* Background Classes */
.bg-dark {
    background: var(--dark-color);
    color: #fff;
}
.bg-primary {
    background: var(--primary-color);
    color: #fff;
}
.bg-secondary {
    background: var(--secondary-color);
    color: #fff;
}

.bg-dark h1,
.bg-dark h2,
.bg-dark h3,
.bg-dark a,
.bg-primary h1,
.bg-primary h2,
.bg-primary h3,
.bg-primary a,
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary a {
    color: #fff;
}

/* Padding Classes */
.py-1 {
    color: #fff;
    padding: 1.5rem 0;
}
.py-2 {
    padding: 2rem 0;
}
.py-3 {
    padding: 3rem 0;
}

/* padding all around */

.p-1 {
    padding: 1.5rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
    padding: 3rem;
}

/* l heading */

.l-heading {
    font-size: 3rem;
}

/* Nav Bar */
#main-nav {
    background: var(--dark-color);
    position: sticky;
    top: 0;
    z-index: 2;
}

#main-nav .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
}
/* Our logo */

#main-nav .logo {
    width: 9.5rem;
    height: 6.5rem;
}

#main-nav ul {
    display: flex;
    width: 80%;
    justify-content: flex-end;
}

#main-nav ul li a {
    padding: 0.75rem;
    margin-left: 5rem;
    font-weight: bold;
    color: #fff;
}
@media (max-width: 768px) {
    #main-nav ul {
        justify-content: center;
        width: 100%;
    }
    #main-nav ul li a {
        justify-content: center;
        margin-left: 0;
    }
}

#main-nav ul li a.current {
    background: var(--primary-color);
}

#main-nav ul li a:hover {
    background: var(--light-color);
    color: var(--dark-color);
}

/* Showcase */
#showcase {
    /* color: #fff; */
    color: #333;
    background: var(--light-color);
    /* background: var(--dark-color); */
    padding: 2rem;
    position: relative;
}

#showcase:before {
    content: '';
    background: url('../img/index/feautured_article.svg') no-repeat center
        center/cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
}

#showcase .showcase-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    height: 50vh;
}

#showcase .showcase-content {
    z-index: 1;
}

#showcase .showcase-content p {
    margin-bottom: 1rem;
}

/* Home */
#home-articles .articles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
}

#home-articles .articles-container > *:first-child {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    align-items: center;
    grid-column: 1 / span 2;
}

/* footer */

#main-footer {
    background: var(--dark-color);
    color: #fff;
}

#main-footer img {
    width: 150px;
}

#main-footer a {
    color: #fff;
}

#main-footer .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
    background-color: #444;
    grid-column: 1 / span 4;
    padding: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
}

#main-footer .footer-container input[type='email'] {
    width: 90%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type='submit'] {
    width: 90%;
}

/* list styling */
.list li {
    padding: 0.5rem 0;
    border-bottom: #555 dotted 1px;
    width: 90%;
}

.list li a:hover {
    color: var(--primary-color) !important;
}

/* Extra Utility Styling for inner page */

.page-container {
    display: grid;
    grid-template-columns: 5fr 2fr;
    margin: 2rem 0;
    grid-gap: 1.5rem;
}

.page-container > *:first-child {
    grid-row: 1 / span 3;
}

.about-links {
    color: var(--defLink-color) !important;
}

/* Meta Styling */
#article .meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: #eee; */
    padding: 0.5rem;
}

#article .meta .category {
    margin-top: 0.4rem;
}

/* 404 styling.... no point of having another css file */
body {
    /* background: linear-gradient(to right, #ff9966, #ff5e62); */
    background-color: #f3f3f3;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' viewBox='0 0 192 192'%3E%3Cpath fill='%233897f0' fill-opacity='0.4' d='M192 15v2a11 11 0 0 0-11 11c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H145v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11 13 13 0 1 1 .02 26 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43a6.1 6.1 0 0 0-3.03 4.87V143h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 181 164a11 11 0 0 0 11 11v2a13 13 0 0 1-13-13 12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84a6.1 6.1 0 0 0-4.87-3.03H145v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 124 181a11 11 0 0 0-11 11h-2a13 13 0 0 1 13-13c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43a6.1 6.1 0 0 0 3.03-4.87V145h-35.02a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 107 124a11 11 0 0 0-22 0c0 1.94 1.16 4.75 2.53 6.11l2.36 2.36a6.93 6.93 0 0 1 1.22 7.56l-.43.84a8.08 8.08 0 0 1-6.66 4.13H49v35.02a6.1 6.1 0 0 0 3.03 4.87l.84.43c1.58.79 4 .4 5.24-.85l2.36-2.36a12.04 12.04 0 0 1 7.51-3.11A13 13 0 0 1 81 192h-2a11 11 0 0 0-11-11c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V145H11.98a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 0 1 0 177v-2a11 11 0 0 0 11-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H47v-35.02a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 28 109a13 13 0 1 1 0-26c2.47 0 5.79 1.37 7.53 3.11l2.36 2.36a4.94 4.94 0 0 0 5.24.85l.84-.43A6.1 6.1 0 0 0 47 84.02V49H11.98a8.08 8.08 0 0 1-6.66-4.13l-.43-.84a6.91 6.91 0 0 1 1.22-7.56l2.36-2.36A10.06 10.06 0 0 0 11 28 11 11 0 0 0 0 17v-2a13 13 0 0 1 13 13c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84A6.1 6.1 0 0 0 11.98 47H47V11.98a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 68 11 11 11 0 0 0 79 0h2a13 13 0 0 1-13 13 12 12 0 0 1-7.53-3.11l-2.36-2.36a4.93 4.93 0 0 0-5.24-.85l-.84.43A6.1 6.1 0 0 0 49 11.98V47h35.02a8.08 8.08 0 0 1 6.66 4.13l.43.84a6.91 6.91 0 0 1-1.22 7.56l-2.36 2.36A10.06 10.06 0 0 0 85 68a11 11 0 0 0 22 0c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93 6.93 0 0 1-1.22-7.56l.43-.84a8.08 8.08 0 0 1 6.66-4.13H143V11.98a6.1 6.1 0 0 0-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36 2.36A12 12 0 0 1 124 13a13 13 0 0 1-13-13h2a11 11 0 0 0 11 11c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V47h35.02a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 179 28a13 13 0 0 1 13-13zM84.02 143a6.1 6.1 0 0 0 4.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12 12 0 0 1 83 124a13 13 0 1 1 26 0c0 2.47-1.37 5.79-3.11 7.53l-2.36 2.36a4.94 4.94 0 0 0-.85 5.24l.43.84a6.1 6.1 0 0 0 4.87 3.03H143v-35.02a8.08 8.08 0 0 1 4.13-6.66l.84-.43a6.91 6.91 0 0 1 7.56 1.22l2.36 2.36A10.06 10.06 0 0 0 164 107a11 11 0 0 0 0-22c-1.94 0-4.75 1.16-6.11 2.53l-2.36 2.36a6.93 6.93 0 0 1-7.56 1.22l-.84-.43a8.08 8.08 0 0 1-4.13-6.66V49h-35.02a6.1 6.1 0 0 0-4.87 3.03l-.43.84c-.79 1.58-.4 4 .85 5.24l2.36 2.36a12.04 12.04 0 0 1 3.11 7.51A13 13 0 1 1 83 68a12 12 0 0 1 3.11-7.53l2.36-2.36a4.93 4.93 0 0 0 .85-5.24l-.43-.84A6.1 6.1 0 0 0 84.02 49H49v35.02a8.08 8.08 0 0 1-4.13 6.66l-.84.43a6.91 6.91 0 0 1-7.56-1.22l-2.36-2.36A10.06 10.06 0 0 0 28 85a11 11 0 0 0 0 22c1.94 0 4.75-1.16 6.11-2.53l2.36-2.36a6.93 6.93 0 0 1 7.56-1.22l.84.43a8.08 8.08 0 0 1 4.13 6.66V143h35.02z'%3E%3C/path%3E%3C/svg%3E");
  }
  
  .container-404 {
    margin: auto;
    margin-top: 5%;
    height: 600px;
    width: 600px;
    position: relative;
    background: #f4f4f4;
    border-radius: 500%;
  
  
  }
  
  .lost {
    text-align: center;
    font-size: 1.6rem;
    position: absolute;
    left: 14%;
    top: 15%;
    width: 75%;
  }
  
  .lost h1 {
    color: #3897f0;
    font-size: 5rem;
  }
  
  .lost a {
    text-decoration: none;
    color: #3897f0;
  }
  
  .lost a:hover {
    text-decoration: underline;
  }